html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

ul {
	list-style: none;

}

ul li {
	display: inline-block;
	padding: .1em 1em;
	margin: 0 1em 2em 0;
}

ul li a {
	text-decoration: none;
	color: #333;
}

ul li a:hover {
	color: #000;
}

div#loginout {
	float: right;
}

header {
	clear: both;
}

body div#loginout ul#loginoutlist {
	
	font-size: .8em;
}
body div#loginout ul#loginoutlist a {
	color: orange;
}

body div#loginout ul#loginoutlist a:hover {
	color: black;
	text-decoration: underline;
}

header h1 {
	width: 34%;
	float: left;
	text-align: center;
}

nav {
	width: 65%;
	float: left;
}

section {
	clear: both;
}

nav ul li {
	font-size: 1em;
	font-weight: bold;
	padding: 0 .2em;
	margin: 1em .5em 0 .5em;
}

nav ul li a:hover {
	border-top: 3px double #000;
	border-bottom: 3px double #000;
}

body {
	background-color: #fff;
	font-family: Lucida Console, Courier, monospace;
	
	margin: 2em;
}

section {
	text-align: center;
}

header h1 {
	
}

.alert {
	background-color: yellow;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

p#nowedit {
	border: 1px dotted red;

}

section form, div.mainfield {
	border: 3px double #e6e6e6;
	margin-top: 2em;
}

form .foralign {
	text-align: left;
	margin-left: 10em;
	margin-right: 10em;
	padding-left: 15em;
}

p a {
	color: #333;
	text-decoration: underline;
}

p a:hover {
	color: #000;
	text-decoration: none;
}

section h2 {
	color: orange;
	padding-top: 2em;
}

section div#matchlist {
	background-color: #ffffe6;
} 

section h3 {
	padding-top: 1em;
}

.newestProduct {
	background-color: #ffffe6;
}

input[type=text] {
	width: 30%;
}

ul.sublist li {
	font-size: .8em;
	border: 2px solid #000;
}

ul.sublist li a:hover {
	color: #555;
	text-decoration: underline;
}

ul.sublist {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 1em;

}
ul li.inputerror {
	color: red;
	font-size: .8em;
	margin-left: 2em;
}

img#mainimg {
	width: 100%;
	opacity: 0.5;
	padding-top: 0;
}

img#mainimg:hover {
	opacity: 1;
}

footer {
	margin-top: 10em;
	color: gray;
}
